body {
    display: flex;
    flex-direction: column;
    color: red;
    height: 100vh;
    margin: 0;ß
    
}

.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
}

.content-1-left {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extra bold;
    /* padding-left: 45px; */

}

.content-1-right {
    display: flex;
    flex-direction: column;
}

.content-1-right-image {
    border: 1px;
    border-style: solid;
    border-color: red;
    padding: 20px;
}

.subcontent-1-left {
    font-size: 18px;
}

.header {
    background-color: #1f2937;
    font-size: 24px;
    /* padding-left: 45px; */
}

.header-links {
    align-self: flex-end;
}

.header, .header-links {
    margin-bottom: 55px;
}

a {
    color: white;
    text-decoration: none;
}

/* section 2 */

.section-2 {
    /* background-color: #3882F6; */
    padding: 20px;
}

.header-2 {
    display: flex;
    justify-content: center;
    padding: 15px
}

.content-2-middle{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.content-2-box {
    border: 2px;
    border-style: solid;
    border-color: red;
    padding: 20px
}

.content-2-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* section 3 */

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Adjust the color to match your design */
    padding: 50px 20px;

}

.quote-container {
    max-width: 600px; /* Adjust the width as necessary */
    text-align: center;
}

.quote-text {
    font-size: 1.25em; /* Adjust the size as necessary */
    color: #333; /* Adjust the color to match your design */
    margin-bottom: 20px;
}

.quote-author {
    font-size: 1em; /* Adjust the size as necessary */
    color: #666; /* Adjust the color to match your design */
    font-style: italic;
    text-align: right;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-4-container {
    border: 2px;
    border-style: solid;
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 10px;
    margin: 40px
}

.footer {
    display: flex;
    background-color: #1f2937;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-1, .section-2, .section-3, .section-4 {
    flex: 1
}